.progress_bar_container{
  height: 21px;
  width: 100%;
  background-color: #6a1b9a;
  border-radius: 50px;
  margin: 50px;

.slider{
  height: 100%;
  border-radius: inherit;
  text-align: right;
}
.text{
     padding: 5px;
    color: black;
    font-weight: bold;
    text-align: center;
}

}