.afterregistration_box
{
    /* border: 2px solid black; */
    display: flex;

    flex-direction: column;
    width: 85%;
    margin-left: 140px;
    margin-right: 180px;
}
.payment-id-div{
    display:flex;
    padding: 10px;
    align-items: baseline;
}
.fa fa-user{
    margin:10px ;
}
.qr_div
{
    display: flex;
    flex-direction: column;
    margin-left: 380px;
    margin-right: 180px;
    
    
}
.table_head
{
    display: table;
    width: 80%;
    margin: 10px auto;
    font-family: sans-serif;
    background: #2e37df;
    padding: 12px 0;
    color: #fff;
    font-size: 18px;
    box-shadow: 0 1px 4px 0px rgba(0,0,50,0.3);
}
.table_row{
    display: table;
    width: 80%;
    margin: 10px auto;
    font-family: sans-serif;
    background: transparent;
    padding: 12px 0;
    color: #555;
    font-size: 13px;
    box-shadow: 0 1px 4px 0px rgba(0,0,50,0.3);
}
.table-head .table-cell{
    border-right: none;
}
.table_cell{
    display: table-cell;
    width: 20%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #d6d4d4;
    vertical-align: middle;
}
.first_cell{
    text-align: left;
    padding-left: 10px;
}
@media only screen and (max-width: 400px) 
{
    
    .table-row{
        width: 95%;
    }
    
}

@media (min-width: 400px) and (max-width: 1024px) 
{
    
    .table-row{
        width: 95%;
    }
}