
#main
{
    margin-top: -20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: sticky;
    top: 40px;
    z-index: 20;
    
}
#logo
{
    background-image: url("sae logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform:scale(2.5);
    height: 50px;
    /* border: 2px solid black; */
    width: 80px;
    margin-left: 20px;
    margin-bottom: 10px;
    /* left: -200px; */
    
    z-index: 85;
    
}
#burger
{

    width: 20px;
    height: 20px;
}
#navbar
{
  
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 16px;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 670px;
    padding: 10px;
    /* position: relative;
    top:-40px; */
    margin-top: -31px;
    margin-left: 35px;
  
}
.nav
{
    padding: 3px;
    /* padding-top: 15px; */
    margin-left: 10px;
   
}
.nav:hover
{
    padding: 3px;
    margin-left: 10px;
    /* background-color:yellow; */
    color: yellow;
    cursor: pointer;
}

