#first
{
    color: white;
    font-weight: bolder;
    /* background-image: linear-gradient(to bottom right,rgb(31, 182, 228),rgb(26, 22, 224)); */
    text-align: center;
    height: 30px;
    border: none;
}
#second
{
    
        color: white;
        background-color: black;
        position: relative;
        top: -50px;
        left: 33px;
        width: 32px;
        font-size: 20px;
    
}
#burger
{
    width: 30px;
    height: 30px;
}
#hamsburger
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#hamsmenu
{
       display: flex;
       flex-direction: column;
       align-items: flex-end;
     background-color: black;
        /* border: 2px solid black; */
        /* animation: sun 3s ease-in 5s; */
        
        position: absolute;

    
      
        
}
.nav0
{
    display: flex;
    padding: 10px;
    justify-content: center;
    /* width:730px; */
    /* border: 2px solid black; */
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.nav0:hover
{
    
    
    color: yellow;
    cursor: pointer;
}
#but
{
    height: 30px;
    /* border: 2px solid black; */
    width:36px;
    /* padding-top: 50px; */
    margin-right: 50px;
   position: sticky;
   top: 2px;
   
  
}
#first
{
    position: relative;
    top: -50px;
    left: 29px;
}
/* #second
{
    color: black;
    position: relative;
    top: -50px;
    width: 32px;
    font-size: 20px;
} */
@media (max-width:2560px) and (min-width:1440px)
{
    #first
    {
        display: none;
    }
    #second
    {
        display: none;
    }
    #hamsmenu
    {
       display:none;
    }
}
@media  (min-width:1024px) and (max-width:1440px) 
{
 #first
 {
     display: none;
 }
 #second
 {
     display: none;
 }
 #hamsmenu
 {
    display:none;
 }

}
@media  (min-width:768px) and (max-width:1024px) 
{
    #main
    {
        display: none;
    }
    #hamsmenu
    {
        
        width: 103%;
        margin-right: -8px;
      
        
    }
    .nav0
{
    display: flex;
    padding: 10px;
    justify-content: center;
    width:97%;
    /* border: 2px solid black; */
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
  

}
@media  (min-width:425px) and (max-width:768px)      
{
    #main
    {
        display: none;
    }
    #hamsmenu
    {
        width: 103%;
        margin-right: -8px;
        
    }
    .nav0
    {
        display: flex;
        padding: 10px;
        justify-content: center;
        width:95%;
        /* border: 2px solid black; */
        color: white;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
    }
}
@media  (min-width:375px) and (max-width:425px) 
{
    #main
    {
        display: none;
    }
    #hamsmenu
    {
        width: 100%;
        margin-right: 0px;
    }
    .nav0
    {
        display: flex;
        padding: 10px;
        justify-content: center;
        width:94%;
        /* border: 2px solid black; */
        color: white;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
    }
}
@media  (min-width:320px) and (max-width:375px)
{
    #main
    {
        display: none;
    }
    #hamsmenu
    {
        width: 100%;
        /* border: 2px solid black; */
    }
    .nav0
    {
        display: flex;
        padding: 10px;
        justify-content: center;
        width:92%;
        /* border: 2px solid black; */
        color: white;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
    }
    #large
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
@media  (min-width:280px) and (max-width:320px)
{
    #main
    {
        display: none;

    }
    #hamsmenu
    {
        width: max-content;
    }
    .nav0
    {
        display: flex;
        padding: 10px;
        justify-content: center;
        width:283px;
        /* border: 2px solid black; */
        color: white;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
    }
    #large
    {
        display: flex;
        justify-content: center;
    }
}
@media  (min-width:0px) and (max-width:320px)
{
    #main
    {
        display: none;

    }
    #hamsmenu
    {
        width: 103%;
        margin-right: -8px;
    }
    .nav0
    {
        display: flex;
        padding: 10px;
        justify-content: center;
        width:300px;
        /* border: 2px solid black; */
        color: white;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
    }
   
}
@keyframes animate1 {
    0%
    {
        height: 0px;
        
    }
    
    100%
    {height: 230px;
       
    
    }
}
@keyframes animate2 {
    0%
    {
        height: 230px;
        
    }
   
    100%
    {
        height: 0px;
        
    }
}