*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.saga-outside-container{
    width: 100%;
    margin-left: 5px;
    padding: 10vh;
    display: flex;
    flex-direction: column;
}

.heading{
    width: 100%;
    height: auto;
    padding: 5vh;
    font-size: 23px;
    font-weight: 900;
}

.heading p{
    display: inline;
}

.legacy{
    
}

/* Years Compnent */
.years{
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    overflow: scroll;
}

@media (max-width: 600px){
    .years{
        overflow-x: scroll;
        justify-content: left;
    }
}

#year{
    display: inline-block;
    padding: 1vh;
    display: flex;
    flex-direction: row;
}

/* Vertical Line */
.vl {
    border-left: 3px solid #000;
    height: 3vh;
    margin-left: 2vh;
}

.saga-container{
    position: relative;
}


/* Content Will Change on clicking the button */
.main-content{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;

}

.image{
    width: 535px;
    height: 46vh;
    margin-left: 2%;
    margin-top: 33px;
}

.image img{
    width: 100%;
    height: 100%;
}

.text{
    width: 535px;
    height: 60vh;
    margin-left: 2%;
    padding: 3%;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 23px;
}

.comp1{
    width: 94%;
    height: 45%;
}
.comp2{
    width: 94%;
    height: 45%;
}

.text ul{
    margin-top: 3vh;
    margin-left: 4vh;
}

@media (min-width:320px) and (max-width:768px)
{
    .saga-outside-container{
        width: 100%;
        margin-left: 5px;
        padding: 0vh;
        display: flex;
        flex-direction: column;
    }
    .text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 19px;
    }
}
