@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 2px;
  font-family: "Montserrat", sans-serif;
}
.Testimonials-body{
  margin-left: 80px;
  margin-right: 80px;
  height: 100vh;
  padding-top: 5vh;
}
.Testimonials-head {
  margin-top: 50px;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}
.Testimonials-vertical {

  border-left: 4px solid transparent;
  border-image: linear-gradient(to bottom, blue, purple);
  border-image-slice: 1;
  height: 65px;
  position: absolute;
  left: 50%;
}
.Testimonials-cards {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 100px;
}
.Testimonials-text {
  height: 150px;
  border: solid black 2px;
  width: 250px;
  text-align: center;
  padding: 10px;
}

#Testimonials-nameChangedToBlack{
  color: #000;
}

.Testimonials-card13 {
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  margin-top: 40px;
}
.Testimonials-card2 {
  z-index: 1;
  background: black;
  color: white;
  margin: auto;
}
@media (min-width: 690px) {
  .Testimonials-card1 {
    position: absolute;
    right: 48vw;
    /* left: 0px; */
  }
  .Testimonials-card3 {
    position: absolute;
    /* right: 0px; */
    left: 48vw;
  }
}
@media (max-width: 690px) {
  .Testimonials-cards {
    display: flex;  
    flex-direction: column;
    gap: 10px;
  }
  .Testimonials-card13 {
    display:inl;
    flex-direction: column;
    gap: 10px;
    margin: auto;
  }
  .Testimonials-card1 {
    margin: auto;
  }
  .Testimonials-card2 {
    margin: auto;
  }
  .Testimonials-card3 {
    margin: auto;
  }
}
@media (max-width: 1200px) and (min-width: 690px) {
  .Testimonials-card13 {
    margin-top: 5px;
  }
}
@media (max-width: 810px) {
  .Testimonials-body{
    margin-left: 20px;
    margin-right: 20px;
  }
  .Testimonials-card2{
    margin-bottom: 4vh;
  }
}
@media (min-width: 1220px) {
  .Testimonials-card13 {
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (max-width: 760px) {
  .Testimonials-body {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (min-width: 1440px) and (max-width: 2560px) {
  .Testimonials-body {
    margin-left: 200px;
    margin-right: 200px;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .Testimonials-body {
    margin-left: 150px;
    margin-right: 150px;
  }
}

@media only screen and (max-width:690px){
  .Testimonials-card2{
    margin-bottom: 5vh;
  }
  .Testimonials-card1{
    margin-bottom: 5vh;
  }
}

@media only screen and (max-width: 350px) {
  .Testimonials-body {
    margin: auto;
  }
}