.header {
  display: flex;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: right;
  flex-grow: 1;
}
#logo {
  width: 350px;
  height: 135px;
}
#logo1 {
  width: 46px;
  height: 40px;
}
.pic {
  width: 390px;
  height: 272px;
}
#image {
  display: flex;
  justify-content: center;
}
.bodyhead_extraspace {
  display: flex;
  margin-top: 15px;
}
.extraspace {
  width: 250px;
  flex-shrink: 0;
}
.extraspace.a {
  border-left: 1px solid #000000;
  margin-top: -3rem;
}

.imgcircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
}
.topicname {
  align-self: center;

  flex-grow: 1;
  padding-bottom: 14px;
}
.topicname span {
  border-bottom: 2px solid black;
}

.body {
  display: flex;
  margin-top: 20px;
}
#bodyContent {
  flex-grow: 1;
  margin: 1rem;
  width: 100%;
}
hr {
  width: 95%;
}
.end {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.footer {
  height: 10rem;
  background-color: black;
  width: 100%;
}

.right{
  text-align: right;
}

@media (min-width: 0px) and (max-width: 768px){
   .extraspace
    {
        display:none;
    }
   
}
#extra{
  display: flex;
  justify-content: center;
}