* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

  .followus-container {
    position: absolute;
    /* padding: 5px, 5px; */
    
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 14px;
    width: 280px;
    height: 310px;
    left: 1200px;
    
    top: 200px;
    background: #ffffff;
    justify-content:space-evenly;
    box-shadow: 0px 4px 40px 20px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
  }
  .follow {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 28px;
    margin-left: 3px;
    margin-top: 3px;
    display: inline;
    color: #000000;
  }
  .line {
    width: 120px;
    float: right;
    height: 1px;
    left: 1550px;
    top: 407px;
  }
  table {
    margin: auto;
    padding: 4px;
    width: 220px;
    height: 252px;
    left: 1249px;
    top: 484px;
    font-size: 10px;
  }
  th {
    text-align: center;
    width: 50px;
    /* height:  */
  }
  a {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  
  @media only screen and (min-width: 1024px) {}
  @media (min-width: 375px) and (max-width: 425px) {
    .followus-container {
      display: flex;
      flex-direction: column;  
      align-content: center;
      padding-left: 7px;
      padding-right: 7px;
      padding-top: 7px;
      /* margin-bottom: 20px; */
      width: 200px;
      height: 205px;
      top:2100px;
      left: 87px;
      background: #ffffff;
      box-shadow: 0px 4px 40px 20px rgba(0, 0, 0, 0.25);
      border-radius: 2px;
    }
    .follow {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 28px;
      margin-left: 3px;
      margin-top: 2px;
      display: inline;
      color: #000000;
    }
    .line {
      width: 100px;
      float: right;
      height: 1px;
      left: 1550px;
      top: 407px;
    }
    table {
      margin: auto;
      padding:2px;
      width: 160px;
      height: 150px;
      left: 1249px;
      top: 484px;
    }
   
    a {
      text-decoration: none;
      color: black;
      font-size: 15px;
    }

  }
  @media (min-width: 120px) and (max-width: 375px) {
    .followus-container {
      display: flex;
      flex-direction: column;  
      align-content: center;
      padding-left: 7px;
      padding-right: 7px;
      padding-top: 12px;
      /* margin-bottom: 20px; */
      width: 200px;
      height: 225px;
      top:2100px;
      left: 60px;
      background: #ffffff;
      box-shadow: 0px 4px 40px 20px rgba(0, 0, 0, 0.25);
      border-radius: 2px;
    }
    .follow {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 25px;
      margin-left: 3px;
      margin-top: 10px;
      display: inline;
      color: #000000;
    }
    .line {
      width: 100px;
      float: right;
      height: 1px;
      left: 1550px;
      top: 407px;
    }
    table {
      margin: auto;
      padding:2px;
      width: 160px;
      height: 150px;
      left: 1249px;
      top: 484px;
    }
    a {
      text-decoration: none;
      color: black;
      font-size: 15px;
    }


  }
  @media (min-width: 425px) and (max-width: 768px) {
    .followus-container {
      display: flex;
      flex-direction: column;  
      align-content: center;
      padding-left: 7px;
      padding-right: 7px;
      padding-top: 7px;
      /* margin-bottom: 20px; */
      width: 200px;
      height: 200px;
      top:2650px;
      left: 15px;
      background: #ffffff;
      box-shadow: 0px 4px 40px 20px rgba(0, 0, 0, 0.25);
      border-radius: 2px;
    }
    .follow {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 28px;
      margin-left: 3px;
      margin-top: 5px;
      display: inline;
      color: #000000;
    }
    .line {
      width: 100px;
      float: right;
      height: 1px;
      left: 1550px;
      top: 407px;
    }
    table {
      margin: auto;
      padding:2px;
      width: 160px;
      height: 150px;
      left: 1249px;
      top: 484px;
    }
   
    a {
      text-decoration: none;
      color: black;
      font-size: 13px;
    }


  }
