* {
  font-family: Montserrat;
}

#Main {
  position: relative;
}

.Topborder {
  height: 2rem;
  background-color: black;
}

h2 {
  width: 150px;
}
.Ambassadortext {
  position: relative;
  background-color: #ece3e3;
  z-index: -2;
}
.Bottomborder {
  width: 100%;
  background-color: #3b3b3b;
  padding: 0.3rem 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.Bottomborder a {
  color: #eea311;
}
#Text {
  width: 40rem;
  background-color: white;
  padding: 1.5rem 2.5rem;
  opacity: 0.9;
}
#Text h1 {
  font-size: 3.5rem;
  padding: 0.3rem 4rem;
}

.Circle {
  position: absolute;
  top: 17%;
  right: 9.5rem;
  height: 300px;
  width: 300px;
  background: #eea311;
  border-radius: 50%;
  opacity: 0.9;
  z-index: -1;
}
.Circletext {
  position: absolute;
  top: 120px;
  left: 180px;
  font-size: 3rem;
  white-space: nowrap;
  color: white;
}
#Body {
  font-size: 1.3rem;

  padding: 0.3rem 4rem;
}

@media (max-width: 656px) {
  #Text {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem 0.5rem;
  }
}
