#Accelarons-participate
{
    margin-left: -8px;
    margin-right: -8px;
    font-family: 'Montserrat', sans-serif;
    /*border: 2px solid black;*/
   display: flex;
   flex-direction: column;
   flex-wrap: wrap; 
   align-content: center;
    margin-bottom: 10vh;
    margin-top: 5vh;
}

#Accelarons-titlecomp1
{
    /*border: 2px solid black;*/
    margin-left: 239px;
    font-size: 44px;
}
#Accelarons-participate1
{
    font-size: 44px;
    font-weight: 800;
   color: rgb(243, 8, 47);
}
#Accelarons-supra_title
{
    border-bottom: 8px solid black;
    margin-left: 240px;
    font-size: 44px;
    font-weight: 800;
    color: rgb(12, 12, 12);
    
}
#Accelarons-car1
{
    width: 100%;
}
#Accelarons-car2
{
    width: 100%;
}

#Accelarons-formula_title
{
   
    
    
    border-bottom: 8px solid black;
    margin-left: 52%;
    font-size: 44px;
    font-weight: 800;
    color: rgb(12, 12, 12);
  
    
    
}
#Accelarons-formula_image
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    /*border: 2px solid black;*/
    width: 42%;
    padding: 5px;
}

#Accelarons-car3
{
    width: 100%;
}
#Accelarons-car4
{
    width: 100%;
}
.content1
{
    /*border: 2px solid black;*/
    padding:10px;
}
#Accelarons-supra_content
{
    /*border: 2px solid black;*/
   display: flex;
  flex-direction: row;
   flex-wrap: wrap; 
   justify-content: space-evenly;
   font-size: 18px;
}
#Accelarons-formula_content
{
    /*border: 2px solid black;*/
   display: flex;
  flex-direction: row;
  
   flex-wrap: wrap; 
   justify-content: space-evenly;
   font-size: 18px;
}

#Accelarons-supraline
{
    
    border: none;
   border-left: 5px solid red;
    padding-left: 10px;
}
#Accelarons-formulaline
{
    border: none;
    border-right: 5px solid red;
    padding-right: 10px;
}
#Accelarons-supra_text
{
    /*border: 2px solid black;*/
    width: 32%;
    padding: 5px;
    margin-left: 172px;
    font-size: 22px;
}
#Accelarons-formula_text
{
    /*border: 2px solid black;*/
    width: 32%;
    padding: 5px;
    margin-right: 172px;
    font-size: 24px;
    
   
}
#Accelarons-supra_image
{
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    /*border: 2px solid black;*/
    width: 42%;
    padding: 5px;
}
#Accelarons-image1
{
    /*border: 2px solid black;*/
    width: 64%;
    height: 209px;
    padding: 5px;
    /* transform: sca
    /* transform: scale(1.2); */
    background-image: url("abc1new.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
#Accelarons-image1:hover
{
    cursor: pointer;
}
#Accelarons-image2:hover
{
    cursor: pointer;
}
#Accelarons-image11:hover
{
    cursor: pointer;
}
#Accelarons-image22:hover
{
    cursor: pointer;
}
#Accelarons-image11
{
    
    /*border: 2px solid black;*/
    width: 64%;
    padding: 5px;
    height: 209px;
    margin-right: 46px;
    /* transform: sca
    /* transform: scale(1.2); */
    background-image: url("abc1new.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
   
}
#Accelarons-image2
{
    

    width: 23%;
    padding: 5px;
    margin-right: -72px;
    height: 209px;
    margin-left: 109px;
    background-image: url("def1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.45;

}
#Accelarons-image22
{
    opacity: 0.45;
    /*border: 2px solid black;*/
    width: 23%;
    padding: 5px;
    height: 209px;
    margin-left: -72px;
    margin-right: 74px;
    background-image: url("def1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

@media (min-width:1024px) and (max-width:1439px)
{
    #Accelarons-participate
    {
        margin-left: -8px;
        margin-right: -8px;
        font-family: 'Montserrat', sans-serif;
        /*border: 2px solid black;*/
       display: flex;
       flex-direction: column;
       flex-wrap: wrap; 
       align-content: center;
      
    }
    
    #Accelarons-titlecomp1
    {
        /*border: 2px solid black;*/
        margin-left: 116px;
        font-size: 44px;
    }
    #Accelarons-participate1
    {
        font-size: 44px;
        font-weight: 800;
       color: rgb(243, 8, 47);
    }
    #Accelarons-supra_title
    {
        border-bottom: 8px solid black;
        margin-left: 129px;
        font-size: 44px;
        font-weight: 800;
        color: rgb(12, 12, 12);
        
    }
    #Accelarons-car1
    {
        width: 100%;
    }
    #Accelarons-car2
    {
        width: 100%;
    }
    
    #Accelarons-formula_title
    {
       
        
        
        border-bottom: 8px solid black;
        margin-left: 57%;
        font-size: 38px;
        font-weight: 800;
        color: rgb(12, 12, 12);
      
        
        
    }
    #Accelarons-formula_image
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        /*border: 2px solid black;*/
        width: 42%;
        padding: 5px;
        align-content: center;
    }
    
    #Accelarons-car3
    {
        width: 100%;
    }
    #Accelarons-car4
    {
        width: 100%;
    }
    .content1
    {
        /*border: 2px solid black;*/
        padding:10px;
    }
    #Accelarons-supra_content
    {
        /*border: 2px solid black;*/
       display: flex;
      flex-direction: row;
       flex-wrap: wrap; 
       justify-content: space-evenly;
       font-size: 18px;
    }
    #Accelarons-formula_content
    {
        /*border: 2px solid black;*/
       display: flex;
      flex-direction: row;
       flex-wrap: wrap; 
       justify-content: space-evenly;
       font-size: 18px;
    }
    
    #Accelarons-supraline
    {
        
        border: none;
       border-left: 5px solid red;
        padding-left: 10px;
    }
    #Accelarons-formulaline
    {
        border: none;
        border-right: 5px solid red;
        padding-right: 10px;
    }
    #Accelarons-supra_text
    {
        /*border: 2px solid black;*/
        width: 32%;
        padding: 5px;
        margin-left: 60px;
        font-size: 20px;
    }
    #Accelarons-formula_text
    {
        /*border: 2px solid black;*/
        width: 32%;
        padding: 5px;
        margin-right: 36px;
        font-size: 22px;
        
       
    }
    #Accelarons-supra_image
    {
        display: flex;
        align-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        /*border: 2px solid black;*/
        width: 42%;
        padding: 5px;
    }
    #Accelarons-image1
    {
        /*border: 2px solid black;*/
        width: 62%;
        padding: 5px;
        height: 209px;
        /* transform: sca
        /* transform: scale(1.2); */
        background-image: url("abc1new.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #Accelarons-image11
    {
        
        /*border: 2px solid black;*/
        width: 64%;
        padding: 5px;
        height: 209px;
        margin-right: 46px;
        /* transform: sca
        /* transform: scale(1.2); */
        background-image: url("abc1new.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
       
    }
    #Accelarons-image2
    {
        
        /*border: 2px solid black;*/
        width: 29%;
        padding: 5px;
        margin-right: -72px;
        height: 209px;
        margin-left: 109px;
        background-image: url("def1.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.45;
    
    }
    #Accelarons-image22
    {
        opacity: 0.45;
        /*border: 2px solid black;*/
        width: 24%;
        height: 209px;
        padding: 5px;
        margin-left: -72px;
        margin-right: 74px;
        background-image: url("def1.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        
    }
}
@media (min-width:768px) and (max-width:1024px)
{
    #Accelarons-formula_text {
        /*border: 2px solid black;*/
        width: 45%;
        padding: 5px;
        margin-right: 25px;
        font-size: 22px;
    }
    #Accelarons-supra_text
    {
        
            /*border: 2px solid black;*/
            width: 43%;
            padding: 5px;
            margin-left: 30px;
            font-size: 22px;
        
    }
    #Accelarons-supra_title {
        border-bottom: 8px solid black;
        margin-left: 33px;
        font-size: 44px;
        font-weight: 800;
        color: rgb(12, 12, 12);
    }
    #Accelarons-image1 {
        /*border: 2px solid black;*/
        width: 94%;
        padding: 5px;
        background-image: url("abc1new.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #Accelarons-image11 {
        /*border: 2px solid black;*/
        width: 94%;
        padding: 5px;
        margin-top: 10px;
        margin-right: 0px;
        background-image: url("abc1new.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }
   
    #Accelarons-image22 {
        /*border: 2px solid black;*/
        width: 100%;
        padding: 5px;
        margin-left: 0px;
        display: none;
        margin-right: 0px;
        background-image: url("def1.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    

#Accelarons-image2
{
    /*border: 2px solid black;*/
    width: 94%;
    padding: 5px;
    margin-right: 0px;
    display: none;
    margin-top: 10px;
    margin-left: 0px;
    background-image: url("def1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

}
#Accelarons-formula_title
{
   
    
    
    border-bottom: 8px solid black;
    margin-left: 51%;
    font-size: 33px;
    font-weight: 800;
    color: rgb(12, 12, 12);
  
    
    
}
#Accelarons-supra_image
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /*border: 2px solid black;*/
    width: 42%;
    padding: 5px;
    height: 485px;
}
#Accelarons-formula_image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    /*border: 2px solid black;*/
    width: 42%;
    height: 478px;
    padding: 5px;
}
#Accelarons-supra_content
{
    /*border: 2px solid black;*/
   display: flex;
  flex-direction: row;
   flex-wrap: wrap; 
   justify-content: space-between;
   font-size: 18px;
}
#Accelarons-formula_content
{
    /*border: 2px solid black;*/
   display: flex;
  flex-direction: row;
   flex-wrap: wrap; 
   justify-content: space-between;
   font-size: 18px;
}
#Accelarons-titlecomp1
{
    /*border: 2px solid black;*/
    margin-left: 0px;
    font-size: 44px;
}
}
@media (min-width:320px) and (max-width:375px)
{
    #Accelarons-formula_title {
        border-bottom: 8px solid black;
        margin-left: 27px;
        font-size: 28px;
        font-weight: 800;
        color: rgb(12, 12, 12);
    }
    
    #Accelarons-titlecomp1 {
        /*border: 2px solid black;*/
        margin-left: 3px;
        width: 90%;
        font-size: 30px;
    }
    #Accelarons-participate1 {
        font-size: 30px;
        font-weight: 800;
       color: rgb(243, 8, 47);
    }
    #Accelarons-supra_title {
        border-bottom: 8px solid black;
        margin-left: 40px;
        font-size: 44px;
        font-weight: 800;
        color: rgb(12, 12, 12);
    }
    #Accelarons-supra_content {
        /*border: 2px solid black;*/
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       
        justify-content: space-evenly;
        font-size: 18px;
    }
    #Accelarons-supra_text {
        /*border: 2px solid black;*/
        width: 77%;
        padding: 5px;
        margin-left: 0px;
        
        font-size: 16px;
    }
    #Accelarons-supra_image {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        /*border: 2px solid black;*/
        width: 77%;
        height: 200px;
        padding: 5px;
    }
    #Accelarons-formula_image {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* justify-content: center; */
        /*border: 2px solid black;*/
        width: 78%;
        height: 200px;
        padding: 5px;
    }
    #Accelarons-image1 {
        /*border: 2px solid black;*/
        width: 91%;
        height: 131px;
        padding: 5px;
        background-image: url("abc1new.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #Accelarons-image2 {
        /*border: 2px solid black;*/
        width: 83%;
        padding: 5px;
        margin-right: 0px;
        margin-top: 5px;
        margin-left: 0px;
        display: none;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.45;
    }
    #Accelarons-formula_text {
        /*border: 2px solid black;*/
        width: 77%;
        padding: 5px;
        margin-right: -4px;
        font-size: 16px;
    }
    #Accelarons-formula_content {
        /*border: 2px solid black;*/
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        
        align-content: center;
        font-size: 18px;
    }
    #Accelarons-image22 {
        opacity: 0.45;
        /*border: 2px solid black;*/
        width: 84%;
        padding: 5px;
        margin-left: -70px;
        display: none;
        margin-right: 34px;
        background-image: url("def1.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #Accelarons-image11 {
        /*border: 2px solid black;*/
        width: 91%;
        height: 128px;
        padding: 5px;
        margin-top: 5px;
        margin-right: 9px;
        background-image: url(abc1new.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media (min-width:375px) and (max-width:425px)
{
    #Accelarons-formula_title {
        border-bottom: 8px solid black;
        margin-left: 35px;
        font-size: 32px;
        font-weight: 800;
        color: rgb(12, 12, 12);
    }
    #Accelarons-titlecomp1 {
        /*border: 2px solid black;*/
        margin-left: 3px;
        width: 90%;
        font-size: 30px;
    }
    #Accelarons-participate1 {
        font-size: 30px;
        font-weight: 800;
       color: rgb(243, 8, 47);
    }
    #Accelarons-supra_title {
        border-bottom: 8px solid black;
        margin-left: 45px;
        font-size: 44px;
        font-weight: 800;
        color: rgb(12, 12, 12);
    }
    #Accelarons-supra_content {
        /*border: 2px solid black;*/
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       
        justify-content: space-evenly;
        font-size: 18px;
    }
    #Accelarons-supra_text {
        /*border: 2px solid black;*/
        width: 77%;
        padding: 5px;
        margin-left: 0px;
        
        font-size: 16px;
    }
    #Accelarons-supra_image {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        /*border: 2px solid black;*/
        width: 77%;
        height: 208px;
        padding: 5px;
    }
    #Accelarons-formula_image {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* justify-content: center; */
        /*border: 2px solid black;*/
        width: 78%;
        height: 208px;
        padding: 5px;
    }
    #Accelarons-image1 {
        /*border: 2px solid black;*/
        width: 77%;
        height: 135px;
        padding: 5px;
        background-image: url("abc1new.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #Accelarons-image2 {
        /*border: 2px solid black;*/
        width: 77%;
        margin-top: 5px;
        padding: 5px;
        display: none;
        margin-right: 0px;
        margin-left: 0px;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.45;
    }
    #Accelarons-formula_text {
        /*border: 2px solid black;*/
        width: 77%;
        padding: 5px;
        margin-right: -4px;
        font-size: 16px;
    }
    #Accelarons-formula_content {
        /*border: 2px solid black;*/
        display: flex;
        flex-direction: column-reverse;
        align-content: center;
        flex-wrap: wrap;
        
        justify-content: space-evenly;
        font-size: 18px;
    }
    #Accelarons-image11 {
        /*border: 2px solid black;*/
        width: 77%;
        padding: 5px;
        height: 135px;
        margin-top: 5px;
        margin-right: 40px;
        background-image: url(abc1new.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #Accelarons-image22 {
        opacity: 0.45;
        /*border: 2px solid black;*/
        width: 77%;
        padding: 5px;
        
        margin-left: -70px;
        display: none;
        margin-right: 25px;
        background-image: url("def1.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}
  
@media (min-width:100px) and (max-width:319px)
{
    
    #Accelarons-formula_title {
        border-bottom: 6px solid black;
        margin-left: 31px;
        font-size: 20px;
        font-weight: 800;
        color: rgb(12, 12, 12);
    }
    #Accelarons-image11 {
        /*border: 2px solid black;*/
        width: 84%;
        padding: 5px;
        margin-right: 20px;
        background-image: url(abc1new.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #Accelarons-titlecomp1 {
        /*border: 2px solid black;*/
        margin-left: 3px;
        width: 90%;
        font-size: 30px;
    }
    #Accelarons-participate1 {
        font-size: 30px;
        font-weight: 800;
       color: rgb(243, 8, 47);
    }
    #Accelarons-supra_title {
        border-bottom: 6px solid black;
        margin-left: 56px;
        font-size: 35px;
        font-weight: 800;
        color: rgb(12, 12, 12);
    }
    #Accelarons-supra_content {
        /*border: 2px solid black;*/
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       
        justify-content: space-evenly;
        font-size: 18px;
    }
    #Accelarons-supra_text {
        /*border: 2px solid black;*/
        width: 77%;
        padding: 5px;
        margin-left: 0px;
        
        font-size: 15px;
    }
    #Accelarons-supra_image {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        /*border: 2px solid black;*/
        width: 77%;
        height: 175px;
        padding: 5px;
    }
    #Accelarons-formula_image {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* justify-content: center; */
        /*border: 2px solid black;*/
        width: 78%;
        height: 175px;
        padding: 5px;
    }
    #Accelarons-image1 {
        /*border: 2px solid black;*/
        width: 83%;
        padding: 5px;
        height: 114px;
        background-image: url("abc1new.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #Accelarons-image2 {
        /*border: 2px solid black;*/
        width: 83%;
        padding: 5px;
        margin-right: 0px;
        margin-top: 5px;
        display: none;
        margin-left: 0px;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.45;
    }
    #Accelarons-formula_text {
        /*border: 2px solid black;*/
        width: 77%;
        padding: 5px;
        margin-right: -4px;
        font-size: 15px;
    }
    #Accelarons-formula_content {
        /*border: 2px solid black;*/
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        
        align-content: center;
        font-size: 18px;
    }
    #Accelarons-image22 {
        opacity: 0.45;
        /*border: 2px solid black;*/
        width: 83%;
        padding: 5px;
        margin-left: -70px;
        display: none;
        margin-right: 31px;
        background-image: url("def1.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #Accelarons-image11 {
        /*border: 2px solid black;*/
        width: 83%;
        padding: 5px;
        margin-top: 5px;
        height: 101px;
        margin-right: 36px;
        background-image: url(abc1new.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media (min-width:425px) and (max-width:485px)
{
    #Accelarons-formula_title {
        border-bottom: 8px solid black;
        margin-left: 40px;
        font-size: 33px;
        font-weight: 800;
        color: rgb(12, 12, 12);
    }
    #Accelarons-titlecomp1 {
        /*border: 2px solid black;*/
        margin-left: 3px;
        width: 90%;
        font-size: 30px;
    }
    #Accelarons-participate1 {
        font-size: 30px;
        font-weight: 800;
       color: rgb(243, 8, 47);
    }
    #Accelarons-supra_title {
        border-bottom: 8px solid black;
        margin-left: 46px;
        font-size: 44px;
        font-weight: 800;
        color: rgb(12, 12, 12);
    }
    #Accelarons-supra_content {
        /*border: 2px solid black;*/
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       
        justify-content: space-evenly;
        font-size: 18px;
    }
    #Accelarons-supra_text {
        /*border: 2px solid black;*/
        width: 90%;
        padding: 5px;
        margin-left: 0px;
        
        font-size: 16px;
    }
    #Accelarons-supra_image {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        /*border: 2px solid black;*/
        width: 90%;
        height: 275px;
        padding: 5px;
    }
    #Accelarons-formula_image {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* justify-content: center; */
        /*border: 2px solid black;*/
        width: 90%;
        height: 275px;
        padding: 5px;
    }
    #Accelarons-image1 {
        /*border: 2px solid black;*/
        width: 80%;
        height: 175px;
        padding: 5px;
        background-image: url("abc1new.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #Accelarons-image2 {
        /*border: 2px solid black;*/
        width: 80%;
        padding: 5px;
        margin-top: 10px;
        display: none;
        margin-right: 0px;
        margin-left: 0px;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.45;
    }
    #Accelarons-formula_text {
        /*border: 2px solid black;*/
        width: 90%;
        padding: 5px;
        margin-right: -4px;
        font-size: 16px;
    }
    #Accelarons-formula_content {
        /*border: 2px solid black;*/
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        
        align-content: center;
        font-size: 18px;
    }
    
    #Accelarons-image22 {
        opacity: 0.45;
        /*border: 2px solid black;*/
        width: 80%;
        padding: 5px;
        display: none;
        margin-left: -70px;
        margin-right: 28px;
        background-image: url("def1.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #Accelarons-image11 {
        /*border: 2px solid black;*/
        width: 80%;
        margin-top: 10px;
        height: 175px;
        padding: 5px;
        margin-right: 29px;
        background-image: url("abc1new.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media (min-width:485px) and (max-width:768px)
{
    #Accelarons-formula_title {
        border-bottom: 8px solid black;
        margin-left: 28px;
        font-size: 28px;
        font-weight: 800;
        color: rgb(12, 12, 12);
    }
    #Accelarons-titlecomp1 {
        /*border: 2px solid black;*/
        margin-left: 3px;
        width: 90%;
        font-size: 30px;
    }
    #Accelarons-participate1 {
        font-size: 30px;
        font-weight: 800;
       color: rgb(243, 8, 47);
    }
    #Accelarons-supra_title {
        border-bottom: 8px solid black;
        margin-left: 24px;
        font-size: 44px;
        font-weight: 800;
        color: rgb(12, 12, 12);
    }
    #Accelarons-supra_content {
        /*border: 2px solid black;*/
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       
        justify-content: space-evenly;
        font-size: 18px;
    }
    #Accelarons-supra_text {
        /*border: 2px solid black;*/
        width: 90%;
        padding: 5px;
        margin-left: 0px;
        
        font-size: 15px;
    }
    #Accelarons-supra_image {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        /*border: 2px solid black;*/
        width: 90%;
        height: 288px;
        padding: 5px;
    }
    #Accelarons-formula_image {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* justify-content: center; */
        /*border: 2px solid black;*/
        width: 90%;
        height: 288px;
        padding: 5px;
    }
    #Accelarons-image1 {
        /*border: 2px solid black;*/
        width: 86%;
        height: 240px;
        padding: 5px;
        background-image: url("abc1new.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #Accelarons-image2 {
        /*border: 2px solid black;*/
        width: 80%;
        padding: 5px;
        margin-top: 10px;
        margin-right: 0px;
        display: none;
        margin-left: 0px;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.45;
    }
    #Accelarons-formula_text {
        /*border: 2px solid black;*/
        width: 90%;
        padding: 5px;
        margin-right: -4px;
        font-size: 15px;
    }
    #Accelarons-formula_content {
        /*border: 2px solid black;*/
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        
        align-content: center;
        font-size: 18px;
    }
    
    #Accelarons-image22 {
        opacity: 0.45;
        /*border: 2px solid black;*/
        width: 80%;
        padding: 5px;
        margin-left: -70px;
        display: none;
        margin-right: 28px;
        background-image: url("def1.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #Accelarons-image11 {
        /*border: 2px solid black;*/
        width: 86%;
        height: 240px;
        margin-top: 10px;
        padding: 5px;
        margin-right: 55px;
        background-image: url("abc1new.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}