.roleBody{
    background-color:#9810EB;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 250px;
    /* margin:20px 20px 20px 20px; */
    padding:35px 35px 35px 35px;
    width: 280px;
}
.roleupperPart{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.rolenumber{
    color: #00E0FF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
}
.roleHeading{
    color: #00FF85;
    margin-top: 0px;
    width: fit-content;
    padding-left: 1rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 1.9rem;
    line-height: 32px;
}
.roleContent{
    color: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 200;
    font-size: 17px;
    line-height: 21px;
    margin-left: 34px;
}

@media (min-width: 0px) and (max-width: 229px){
    .roleBody{
       width: fit-content;
       height: fit-content;
    }
    
}