@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.TopicsCardHolder-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  /* padding-left: 90px;
  padding-bottom: 50px;
  padding-right: 60px;
  padding-top: 80px; */
  padding-bottom: 50px;
  /* text-align: center; */
  justify-content:space-evenly;
}

.TopicsCardHolder-card {
  width: 400px;
  height: 550px;
  left: 93px;
  top: 266px;

  background: #ffffff;
  box-shadow: 0px 4px 40px 20px rgba(0, 0, 0, 0.25);
  margin-right: 200px;
}
.TopicsCardHolder-image {
  width: 400px;
  height: 216px;
}

.TopicsCardHolder-title {
  font-weight: 700;
  font-size: 35px;

  width: 400.09px;
  height: 209.68px;
  left: 114.96px;
  top: 611.47px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 43px;
  margin-top: 100px;
  align-items: center;
  text-align: center;

  color: #000000;
}
li {
  display: inline;
}
.TopicsCardHolder-footer {
  margin-top: -31px;
  width: 400px;
  height: 51px;
  background: rgba(233, 233, 233, 0.54);
}
.TopicsCardHolder-footer-list {
  padding: 15px;
  font-size: 20px;
}
.TopicsCardHolder-fontawesome:hover{
  cursor: grab;
}
.TopicsCardHolder-fontawesome1{
  float: right;
}
@media (min-width: 1440px) and (max-width: 2560px) {
}
@media (min-width: 1024px) and (max-width: 1440px) {
}
@media (min-width: 768px) and (max-width: 1024px) {
  .TopicsCardHolder-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding-left: 180px;
    /* padding-bottom: 50px;
    padding-right: 60px; */
    padding-top: 80px;
  
    /* text-align: center; */
    justify-content:space space-evenly;
  }
  
}
@media (min-width: 425px) and (max-width: 768px) {
  .TopicsCardHolder-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    /* padding-left: 181px;
    padding-bottom: 50px;
    padding-right: 90px;
    padding-top: 80px;
    margin: auto; */
  
    /* text-align: center; */
    justify-content: space space-evenly;
  }
  

  .TopicsCardHolder-card {
    width: 400px;
    height: 575px;

    background: #ffffff;
    box-shadow: 0px 4px 40px 20px rgba(0, 0, 0, 0.25);
    margin-right: 200px;
    margin-bottom: 20px;
  }
  .TopicsCardHolder-footer {
    margin-top: -6px;
    width: 400px;
    height: 51px;
    background: rgba(233, 233, 233, 0.54);
  }
}
@media (min-width: 375px) and (max-width: 425px) {
  .TopicsCardHolder-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    /* padding-left: 90px;
    padding-bottom: 50px;
    padding-right: 90px;
    padding-top: 80px; */
    margin: auto;
  
    /* text-align: center; */
    justify-content:space-evenly;
  }
  

  .TopicsCardHolder-card {
    width: 400px;
    height: 575px;

    background: #ffffff;
    box-shadow: 0px 4px 40px 20px rgba(0, 0, 0, 0.25);
    margin-right: 200px;
    margin-bottom: 20px;
  }
  .TopicsCardHolder-footer {
    margin-top: -6px;
    width: 400px;
    height: 51px;
    background: rgba(233, 233, 233, 0.54);
  }
}
@media (min-width: 120px) and (max-width: 375px) {
  .TopicsCardHolder-container {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    /* padding-left: 20px; */
    /* padding-bottom: 50px; */
    /* padding-right: 90px; */
    /* padding-top: 80px; */
  
    /* text-align: center; */
    justify-content:space-evenly;
  }
  

  .TopicsCardHolder-card {
    width: 400px;
    height: 575px;

    background: #ffffff;
    box-shadow: 0px 4px 40px 20px rgba(0, 0, 0, 0.25);
    margin-right: 200px;
    margin-bottom: 20px;
  }
  .TopicsCardHolder-footer {
    margin-top: -6px;
    width: 400px;
    height: 51px;
    background: rgba(233, 233, 233, 0.54);
  }
}