.backendBlogPanel{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 25px;
}
#addNewBlog{
    background-color: #098716;
    height: 2.5rem;
    width: fit-content;
    padding: 0 15px 0 15px;
    font-family: " Montserrat";
    font-weight: bold;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.card_contain
{
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}
.blogIcons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 25px;
}