* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.NavigationBar_Nav-navbar{
    height: 50px;
    width: 100%;
    background: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    font-size: 1.2rem;    
}
.NavigationBar_Nav-nav-logo{
    text-decoration: none;
    color: white;
}
.NavigationBar_Nav-nav-links{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 20px;
    list-style: none;
}
.NavigationBar_Nav-nav-link{
    text-decoration: none;
    color: white;
    transition: 0.3s all;
}
.NavigationBar_Nav-nav-link:hover{
    color: red;
}
.NavigationBar_Nav-nav-icon{
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.NavigationBar_Nav-navlogo{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.NavigationBar_Nav-nav-logo{
    text-decoration: none;
    color: white;
}
.NavigationBar_Nav-nav-links{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 20px;
    list-style: none;
}
.NavigationBar_Nav-nav-link{
    text-decoration: none;
    color: white;
    transition: 0.3s all;
}
.NavigationBar_Nav-nav-link:hover{
    color: red;
}
.NavigationBar_Nav-nav-icon{
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

@media only screen and (max-width:500px){
    .NavigationBar_Nav-navbar{
        position: relative;
    }
    .NavigationBar_Nav-nav-links{
        display: flex;
        flex-direction: column;
        position: absolute;
        text-align: center;
        width: 100%;
        top: 80px;
        left: -100%;
        transition: 0.5s all;
    }
    .NavigationBar_Nav-nav-links.active{
        background: #000;
        left: 0;
    }
    .NavigationBar_Nav-nav-item{
        padding: 10px 0;

    }
    .NavigationBar_Nav-nav-icon{
        display: flex;
        
    }
}