@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

*{
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Gallery-Main_Cotainer{
  background-color: #000;
  width: 103%;
}
@media  (min-width: 320px) and (max-width:768px)
{
  .Gallery-Main_Cotainer{
    background-color: #000;
    width: 103%;
  }
}

.Gallery-photos{
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  /* color: white; */
  /* padding-top: 60px; */
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
  border-image-slice: 1;
  width: max-content;
  font-weight: 1000;
  left: 40%;
  margin:auto;
  
}


.Gallery-row {
  display: flex;
  flex-wrap: wrap;
  /* padding: 0 4px; */
  /* border: 2px solid black; */
  width: 80%;
  /* align-self: center; */
  margin-left: auto;
  margin-right: auto;
}

/* Create four equal columns that sits next to each other */
.Gallery-column {
  flex: 20%;
  max-width: 20%;
  /* padding: 0 1px; */
}

.image_of_gallery {
  margin-top: 8px;
  vertical-align: middle;
  width: 92%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media  (max-width: 800px) {
  .Gallery-row{
    width: 100%;
  }
  .Gallery-column {
    /* flex: 25%;
    max-width: 25%; */
    /* float: left; */
    width: 20%;
    vertical-align: middle;
    /* padding: 0px; */
  }
  .image_of_gallery {
    vertical-align: middle;
    width: 95%;
    margin-left: 1px;
    margin-right: auto;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .Gallery-column {
    flex: 100%;
    max-width: 100%;
  }
  .image_of_gallery {
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;
    margin-left: auto;;
  }
}