/* *
{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
} */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
#black_footer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color:black;
    border: 2px solid black;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: white;
    /* margin-left: -8px; */
    /* margin-bottom: -26px; */
    width: 100%;
    padding-top: 5vh;
}


#coming_soon
{
    margin-top: -15px;
  height: 100%;
  width: 100%;
  animation: updown 2s ease infinite ;
  
}
@keyframes updown {
    0% {
        transform: translateY(-5%);
      }
    
      50% {
        transform: translateY(5%);
      }
    
      100% {
        transform: translateY(-5%);
      }
    
    
}
.black_things_to_explore
{
    color: #fff;
    text-decoration: none;
    margin-top:10px
}

#black_footer_box1,#black_footer_box2,#black_footer_box3,#black_footer_box4
{
    margin-right: 10px;
   width:280px;
   height: 260px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    /* background-color: black; */
}
/* #footer_box4
{
    width:350px;
} */

#black_line_for_first{
   position: relative;
   left: -40px;
   top: 0px;
   width: 140px;
  background-image:linear-gradient(to bottom right,rgb(31, 182, 228),rgb(26, 22, 224));
    height: 3px;
    /* border-radius: 10px; */
    /* width: 20px; */
}
#black_line_for_first_white{
    position: relative;
    left: -30px;
    top: 0px;
    width: 140px;
   background-image:rgb(248, 6, 58);
     height: 3px;
     /* border-radius: 10px; */
     /* width: 20px; */
 }
#black_line_for_second{
    position: relative;
    /* top: -19px; */
    left: -75px;
    width: 75px;
     background-image:  linear-gradient(to bottom right,rgb(31, 182, 228),rgb(26, 22, 224));
     height: 3px;
     /* border-radius: 10px; */
     /* width: 20px; */
 }
 #black_line_for_third{
    position: relative;
    /* top: -19px; */
    left: -70px;
    width: 130px;
     background-image: linear-gradient(to bottom right,rgb(31, 182, 228),rgb(26, 22, 224));
     height: 3px;
     /* border-radius: 10px; */
     /* width: 20px; */
 }
 #black_line_for_fourth{
    position: relative;
    /* top: -19px; */
    left: -10px;
    width: 250px;
   background-image: linear-gradient(to bottom right,rgb(31, 182, 228),rgb(26, 22, 224));
     height: 3px;
     /* border-radius: 10px; */
     /* width: 20px; */
 }
 .black_each_footer_content
 {
     border: 2px solid black;
     height:171px;
     width: 200px;
     position: relative;
     top: 15px;  
 }

 .black_each_footer_content a{
     text-decoration: none;

 }

 #black_contact_us_content
 {
    width: 250px;
 }


 #black_heading_of_footers1,#black_heading_of_footers2
 {
     border: 1px solid black;
     width: 200px;
     
 }
 #black_heading_of_footers3,#black_heading_of_footers4
 {
     border: 1px solid black;
     width: 250px;
     
 }

 #black_newsletter_content
 {
     width: 250px;
 }
 .icons
 {
    
     left: 160px;
    
     
     width: 40px;
 }
 /* Logo css */
 .black_contact_image
 {
     width: 30px;
     position: relative;
     top: 10px;
 }
 .black_contact_image:hover
 {
     cursor: pointer;
 }
 #black_insta_image_auto,#black_fb_image_auto
 {
     width: 30px;
     position: relative;
     top: 10px;
     left: 70px;
 }
 #black_insta_image_auto,#black_fb_image_auto
 {
     cursor: pointer;
 }
 #black_insta_image_nitrox,#black_fb_image_nitrox
 {
     width: 30px;
     position: relative;
     top: 10px;
     left: 50px;
 }
 #black_insta_image_nitrox,#black_fb_image_nitrox
 {
     cursor: pointer;
 }
 #black_insta_image_acelerons,#black_fb_image_acelerons
 {
     width: 30px;
     position: relative;
     top: 10px;
     left: 25px;
 }
 #black_insta_image_acelerons,#black_fb_image_acelerons:hover
 {
     cursor: pointer;
 }
 #black_getting_mail
 {
     background-color: rgb(71, 69, 69);
     color: rgb(248, 242, 242);
     text-align: center;
     font-weight: bolder;
     height: 25px;
     width: 200px;
 }
 #black_joinus
 {
     color: white;
     font-weight: bolder;
    background-image: linear-gradient(to bottom right,rgb(31, 182, 228),rgb(26, 22, 224));
    text-align: center;
    height: 24px;
    width: 41px;
    border-radius: 5px;
    border: none;
    
 }
 #black_joinus:hover{
     cursor: pointer;
 }
 #black_select
 {
     position: relative;
     top: 3px;
 }
 #black_select:hover
 {
     cursor: pointer;
 }
 #black_checkbox_disclaimer
 {
     font-size: 10px;
     color: grey;
 }
 #black_linkedin_text,#black_email_text
 {
     position: relative;
     left: 10px;
 }

 #black_linkedin_text a,#black_email_text a{
     color: #fff;
     text-decoration: none;
 }

 .black_things_to_explore:hover{
     cursor: pointer;
 }