.header {
  display: flex;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: right;
  flex-grow: 1;
  width: 100%;
}
#logo {
  width: 350px;
  height: 135px;
}
#logo1 {
  width: 46px;
  height: 40px;
}
.pic {
  width: 95%;
  height: 272px;
  padding-top: 20px;
}
#image {
  display: block;
  margin: auto;
  width: 50%;
}
.bodyhead_extraspace {
  display: flex;
  margin-top: 15px;
  margin-left: 10px;
  padding-top:30px;
}
.extraspace {
  width: 250px;
  flex-shrink: 0;
  margin-bottom: 20px;
}
.extraspace.a {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #aaaaaa;
  margin-top: -3rem;
}
#extra{
    display: none;
}
.imgcircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  margin-left:15%;
  height: 60px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
}
.topicname {
  align-self: center;
  flex-grow: 1;
  margin-bottom: 14px;
  margin-left:20px;
  font-size: 2rem;
  font-weight: bolder;
}
.topicname span {
  border-bottom: 2px solid black;
}

.body {
  display: flex;
  margin-top: 20px;
  word-wrap: break-word;
}
#bodyContent {
  flex-grow: 1;
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
  word-wrap:break-word;
}
hr {
  width: 96%;
  margin-left: 22px;
}
.end {
  text-align: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row; 
  flex-wrap:wrap;  
  width: 70%;
  margin-left:15%;
  margin-right: 15%;
}
.footer {
  height: 10rem;
  background-color: black;
  width: 100%;
}

.right{
  text-align: center;
}
.other_blogs{
   padding-left: 15%;
   padding-top: 1%;
   text-decoration: underline;
}
@media (min-width: 0px) and (max-width: 450px){
  #bodyContent{
    width: 98%;
    padding-left:1%;
    padding-right:1%;
  }
  .other_blogs{
    margin-top: 20px;
    text-align: center;
    padding-left: 1%;
  }
  .end { 
    justify-content: space-evenly;
  }
  .imgcircle{
    margin-left:1%;
  }
  .body{
    display: block;
  }
  .bodyhead_extraspace{
    flex-wrap: wrap;
  }
}

@media (min-width: 450px) and (max-width: 768px){
   .extraspace.a
    {
      display:none;
    }
    .extraspace{
      display: none;
    }
    #extra{
      display: flex;
      justify-content: center;
    }
    ol li {
      list-style: decimal;
      list-style-position: inside;
    }
    .link{
      word-wrap:break-word;
    }
    #image{
      width: 90%;
    }
    hr{
      display: none;
    }
    .other_blogs{
     display: flex;
     justify-content: center;
     margin-top: 3vh;
    }
    #bodyContent{
      width: 95%;
      padding-left:2.5%;
      padding-right:2.5%;
    }
    .imgcircle{
      margin-left:2.5%;
    }
    .other_blogs{
      padding-left: 2.5%;
    }
    .body{
      display: block;
    }
    .end { 
      width: 95%;
      margin-left:2.5%;
      margin-right: 2.5%;
      justify-content: space-evenly;
    }
}
@media (min-width: 769px) and (max-width: 1024px){
  #bodyContent{
    width: 90%;
    padding-left:5%;
    padding-right:5%;
  }
  .imgcircle{
    margin-left:5%;
  }
  .other_blogs{
    padding-left: 5%;
  }
  .end { 
    width: 90%;
    margin-left:5%;
    margin-right: 5%;
  }
}
@media (min-width: 1024px) and (max-width: 1450px){
  #bodyContent{
    width: 80%;
    padding-left:10%;
    padding-right:10%;
  }
  .imgcircle{
    margin-left:10%;
  }
  .other_blogs{
    padding-left: 10%;
  }
  .end { 
    width: 80%;
    margin-left:10%;
    margin-right: 10%;
  }
}

