*
{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
#white_footer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color:white;
    /*/*border: 2px solid black*/;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: black;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -26px;
    font-weight: 900;
    padding-top: 5vh;
    border-top: solid #000 1px;
    border-bottom: solid #000 1px;
}

#white_footer_box1,#white_footer_box2,#white_footer_box3,#white_footer_box4
{
    margin-right: 10px;
   width:280px;
   height: 260px;
    /*border: 2px solid black*/;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    /* background-color: black; */
}
/* #footer_box4
{
    width:350px;
} */

#white_line_for_first{
   position: relative;
   left: -30px;
   top: -2px;
   width: 140px;
  background-image:linear-gradient(to bottom right,rgb(31, 182, 228),rgb(26, 22, 224));
  /* background-color: rgb(248, 11, 51); */
    height: 3px;
    /* border-radius: 10px; */
    /* width: 20px; */
}
#white_line_for_first_white{
    position: relative;
    left: -30px;
    top: -2px;
    width: 140px;
   background-image:rgb(248, 6, 58);
     height: 3px;
     /* border-radius: 10px; */
     /* width: 20px; */
 }
#white_line_for_second{
    position: relative;
    top: -2px;
    left: -65px;
    width: 75px;
     background-image:  linear-gradient(to bottom right,rgb(31, 182, 228),rgb(26, 22, 224));
     /* background-color: rgb(248, 11, 51); */
     height: 3px;
     /* border-radius: 10px; */
     /* width: 20px; */
 }
 #white_line_for_third{
    position: relative;
    top: -2px;
    left: -60px;
    width: 130px;
     background-image: linear-gradient(to bottom right,rgb(31, 182, 228),rgb(26, 22, 224));
     /* background-color: rgb(248, 11, 51); */
     height: 3px;
     /* border-radius: 10px; */
     /* width: 20px; */
 }
 #white_line_for_fourth{
    position: relative;
    top: -2px;
    
    width: 250px;
   background-image: linear-gradient(to bottom right,rgb(31, 182, 228),rgb(26, 22, 224));
   /* background-color: rgb(248, 11, 51); */
     height: 3px;
     /* border-radius: 10px; */
     /* width: 20px; */
 }
 .white_things_to_explore
 {
     margin-top: 7px;
 }
 .white_each_footer_content
 {
     /*border: 2px solid black*/
     height:171px;
     width: 200px;
     position: relative;
     top: 0px;
    
    

 }
 #white_contact_us_content
 {
    width: 250px;
 }


 #white_heading_of_footers1,#white_heading_of_footers2
 {
     /* border: 1px solid black; */
     width: 200px;
     
 }
 #white_heading_of_footers3,#white_heading_of_footers4
 {
     /* border: 1px solid black; */
     width: 250px;
     
 }

 #white_newsletter_content
 {
     width: 250px;
 }
 .white_icons
 {
    
     left: 160px;
    
     
     width: 40px;
 }
 /* Logo css */
 .white_contact_image
 {
     width: 37px;
     position: relative;
     top: 10px;
 }
 .white_contact_image:hover
 {
     cursor: pointer;
 }
 #white_insta_image_auto,#white_fb_image_auto
 {
     width: 30px;
     position: relative;
     top: 10px;
     left: 70px;
 }
 #white_insta_image_auto,#white_fb_image_auto
 {
     cursor: pointer;
 }
 #white_insta_image_nitrox,#white_fb_image_nitrox
 {
     width: 30px;
     position: relative;
     top: 10px;
     left: 50px;
 }
 #white_insta_image_nitrox,#white_fb_image_nitrox
 {
     cursor: pointer;
 }
 #white_insta_image_acelerons,#white_fb_image_acelerons
 {
     width: 30px;
     position: relative;
     top: 10px;
     left: 21px;
 }
 #white_insta_image_acelerons,#white_fb_image_acelerons:hover
 {
     cursor: pointer;
 }
 #white_getting_mail
 {
     background-color: rgb(163, 157, 157);
     color: rgb(248, 242, 242);
     text-align: center;
     font-weight: bolder;
     
     height: 25px;
     width: 199px;
 }
 #white_joinus
 {
     color: white;
     font-weight: bolder;
    background-image: linear-gradient(to bottom right,rgb(31, 182, 228),rgb(26, 22, 224));
    /* background-color: rgb(248, 11, 51); */
    text-align: center;
    height: 30px;
    border: none;
    
 }
 #white_joinus:hover{
     cursor: pointer;
 }
 #white_select
 {
     position: relative;
     top: 3px;
 }
 #white_select:hover
 {
     cursor: pointer;
 }

 #white_explore_us_content{
     position: relative;
     left: -48px;
 }

 #white_checkbox_disclaimer
 {
     font-size: 10px;
     color: grey;
 }
 #white_linkedin_text,#white_email_text
 {
     position: relative;
     left: 10px;
 }

 #white_linkedin_text a,#white_email_text a{
     color: #000;
     text-decoration: none;
 }
 .white_things_to_explore:hover{
     cursor: pointer;
 }

 @media (min-width: 425px) and (max-width: 768px){
#white_footer_box1 {
    margin-left: 100px;
}
}

@media (min-width: 375px) and (max-width: 425px){
    #white_footer_box1 {
        margin-left: 20px;
    }
    }