.TeamLeads_div{
    background-image: url("../../Assets/bg-gif.gif");
    color: white;
    text-align: center;
    width: 70%;
    height: fit-content;
    padding-bottom: 1.3rem;
    margin: auto;
    padding-top: 1rem;  
}
.teamLeadHeading{
    overflow: hidden; 
    font-size: 3rem;
    font-family: " monospace";
    border-right: .15em solid white;
    white-space: nowrap; 
    margin: 0 auto; 
    padding-bottom: 25px;
    letter-spacing: .05em;
    animation: 
        typing 3.5s steps(40, end) infinite,
        blink-caret .2s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent}
}
.teamFlexBox{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.teamMemberCard{
    margin: 0.5rem 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.teamMemberPic{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.teamDetail{
    visibility: hidden;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 9rem;
    text-align: center;
    font-size: 1rem;
}
.teamMemberName{
    font-weight: bold;
    font-size: 1.2rem;
}
.team-icons{
    visibility: hidden;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
    margin: 10px 10px;
}
.teamMemberCard:hover .teamDetail{
    visibility: visible;
}
.teamMemberCard:hover .team-icons{
    visibility: visible;
}
.teamMemberCard:hover .teamMemberPic{
    filter: brightness(50%);
    transform: scale(1.1);
}
/* a:-webkit-any-link{
    text-decoration: none;
} */

@media only screen and (max-width: 1024px) {
    .TeamLeads_div{
        width: 100%;
    }
}
@media only screen and (max-width: 412px) {
    .teamLeadHeading{
        font-size: 40px;
        padding: 0 30px 15px 30px;
    }
}