*{
    margin: 0;
    padding: 0;
    /* font-size: 1.1rem    ; */
}
.Form-body{
    display: flex;
    flex-direction:row;
    background-color: #ECE3E3;
    /* padding: 30px; */
    align-items: center;
    padding-top: 30px;

}
/* .question {
    margin:10px;
    
} */

.Form-container{
    box-shadow: 10px 10px 4px 0px #00000040;
    border: 1px solid #00000021;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    border-radius: 10px;
    /* min-height: 80vh; */
    width: 45%;
    display: flex;
    flex-direction: column;
    text-align:left;
    gap: 2vh;
    font-size: 1.2rem;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
     margin-left: 30px;
    /* margin-right: 30px;  */
    background-color: #FFFFFF;
    align-self: center;
}
.Form--container{
    box-shadow: 10px 10px 4px 0px #00000040;
    border: 1px solid #00000021;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    border-radius: 10px;
    /* min-height: 80vh; */
    width: 45%;
    display: flex;
    flex-direction: column;
    text-align:left;
    gap: 2vh;
    font-size: 1.2rem;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
     margin-left: 30px;
    /* margin-right: 30px;  */
    background-color: #FFFFFF;
    align-self: center;
}
.field{
    position: relative;
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;  
}
.Form-container .field span{
    position:absolute   ;
    left: 0%;
    padding: 5px 0;
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
input,textarea{
    width: 95%; 
    padding: 5px 0;
    /* margin: 10px 0; */
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 1.5px solid black;
    /* resize: none; */
    /* height: auto; */
}   
.Form-body .Form-container .field  input:focus ~ span,
.Form-body .Form-container .field  input:valid ~ span,     
.Form-body .Form-container .field  textarea:focus ~ span,
.Form-body .Form-container .field  textarea:valid ~ span
{
    color: black;
    font-size: 12px;
    transform: translateX(-20px);
    transform: translateY(-20px);
}
.heading{
    text-align: center;
    padding-top: 50px;
}
#button-submit{
    text-align: center;
}
#button-submit{
    border-radius: 15px;
    background: #E9910DFC;
    height: 40px;
    width: 100px;
    color: white;
    border: none;
    font-size: medium;
}   

#s1,#s2{
    background: #C4C4C4BD;
    width: 90%;
    height: 65%;
    padding: 0.8%;
    border-radius: 5px;
    margin-top: 2%;
}
@media screen and (max-width:938px){
    .Form-body{
        display: flex;
        flex-direction:column;
        background-color: #EEDBDB;
        align-items: center;
        ;
    }
    .Form-container{
        margin: auto;
        width: 60vw;
        background-color: #FFFFFF;
        align-self: center;
        align-content: center;

    }
    .Form--container{
        margin: auto;
        width: 60vw;
        background-color: #FFFFFF;

    }
    
}

@media screen and (min-width:425px) and (max-width:768px){
    .Form-body{
        padding: 10px;
        
        align-content: center;
    }
    .Form-container{
        width: 70vw;
        align-self: center;
    }
    .Form--container{
        width: 70vw;
        align-self: center;
    }
    
}
@media screen and (max-width:425px){
    .Form-body{
        /* padding:12px; */

        align-items: center;
    }
    .Form-container{
        width: 90vw;
    /* margin-left:0px; */
        align-self: center;
    }  
    .Form--container{
        width: 90vw;
        /* padding-left: 7px; */
        align-self: center;
    }  
    input,textarea{
        width: 98%; 
    }
    
   

}
