* {
    margin: 0;
    padding: 0;
    /* font-size: 1.1rem    ; */
}

.whole-body {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    justify-content: space-between;
}

.details {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 45vw;
    padding: 20px;
    margin-left: 120px;
}

.tt {
    margin-left: 130px;
}

.abc iframe {
    margin-top: 60px;
    margin-left: 26px;
    border: none;
}

#space {
    margin-top: -65px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    box-shadow: 10px 10px 4px 0px #00000040;
    border: 1px solid #00000021;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    border-radius: 10px;
    /* min-height: 80vh; */
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2vh;
    font-size: 1.2rem;
    padding-bottom: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.field {
    position: relative;
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.container .field span {
    position: absolute;
    left: 0%;
    padding: 5px 0;
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

input,
textarea {
    width: 95%;
    padding: 5px 0;
    /* margin: 10px 0; */
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 1.5px solid black;
    /* resize: none; */
    /* height: auto; */
}

.whole-body .container .field input:focus~span,
.whole-body .container .field input:valid~span,
.whole-body .container .field textarea:focus~span,
.whole-body .container .field textarea:valid~span {
    color: black;
    font-size: 12px;
    transform: translateX(-20px);
    transform: translateY(-20px);
}

.heading {
    text-align: center;
    padding-top: 50px;
}

.button {
    text-align: center;
}

#contact_button {
    border-radius: 15px;
    background: #E9910DFC;
    height: 40px;
    width: 100px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: medium;
}

.abc {
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}

.icon {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    padding-top: 8px;
}

.fa {
    font-size: 30px;
    margin-top: 5px;
}

.iconimgnx {
    height: 40px;
    width: 40px;
    margin-left: -5px;
}

.iconimgacc {
    height: 40px;
    width: 40px;
    margin-left: -15px;
}

.tt {
    font-weight: bold;
    position: absolute;
    left: 160px;
    padding-top: 10px;
}

#s1,
#s2 {
    background: #C4C4C4BD;
    width: 90%;
    height: 65%;
    padding: 0.8%;
    border-radius: 5px;
}

.style {
    color: rgb(109, 109, 255);
    font-weight: bolder;
}

@media screen and (max-width:938px) {
    .whole-body {
        display: flex;
        flex-direction: column-reverse;
    }
    #abcd {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #space {
        margin-top: -15px;
    }
    iframe {
        margin-top: 20px;
    }
    .tt {
        margin-left: 170px;
    }
    .details {
        margin-left: 160px;
        /* margin-right: auto; */
    }
}

@media screen and (min-width:938px) {
    #abcd {
        margin-bottom: 90px;
    }
}

@media screen and (min-width:425px) and (max-width:768px) {
    .container {
        width: 400px;
    }
    .tt {
        margin-left: 90px;
    }
    .details {
        margin-left: 80px;
    }
}

@media screen and (min-width: 425px) and (max-width: 583px) {
    .tt {
        margin-left: 20px;
    }
    .details {
        margin-left: 10px;
    }
}

@media screen and (max-width:425px) {
    .container {
        width: 100%;
        padding-left: 7px;
        margin-left: 10px;
    }
    input,
    textarea {
        width: 98%;
    }
    .tt {
        position: absolute;
        left: 72px;
        padding-top: 10px;
    }
    .tt {
        margin-left: 60px;
    }
    .details {
        margin-left: 50px;
    }
    .abc {
        margin-left: 0px;
        display: flex;
        flex-direction: row;
    }
    iframe {
        width: 100%;
    }
}