*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*PROF INCHARGES*/

.ProfInchargesandManagers-profIncharge_container{
    width: 100%; 
    height: auto;
    background-color: #fff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 4vh;
}

.ProfInchargesandManagers-profIncharge_container p{
    font-family: 'Montserrat', sans-serif;
}

.ProfInchargesandManagers-persons_container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 10vh;
}

.ProfInchargesandManagers-person{
    width: auto;
}

.ProfInchargesandManagers-circle{
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    border: solid black 1px;
    margin-bottom: 1vh;
    overflow: hidden;
}

.ProfInchargesandManagers-circle img{
    height: inherit;
    width: inherit;
}

/*MANAGERS*/

.ProfInchargesandManagers-managers_container{
    margin-top: 0px;
    width: 100%;
    height: auto;
    background-color: #fff;
    text-align: center;
    padding: 4vh;
}

.ProfInchargesandManagers-profIncharge_container p{
    font-weight: bolder;
}

.ProfInchargesandManagers-persons_container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 10vh;
}

.ProfInchargesandManagers-person{
    width: auto;
}

.ProfInchargesandManagers-circle{
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    border: solid black 1px;
    margin-bottom: 1vh;
}

@media screen and (max-width: 1020px){
    .ProfInchargesandManagers-persons_container{
        flex-direction: column;
        align-items: center;
    }
    .ProfInchargesandManagers-person{
        margin-bottom: 1vh;
    }
}

@media screen and (max-width: 450px) {
    .ProfInchargesandManagers-managers_container{
        display: none;
    }
}