*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.FirstDisplayDIV-main-container{
    width: 100%;
    height: 100vh;
    min-height: 50vh;
    max-height: 100vh;
}

.FirstDisplayDIV-main-container p{
    display: none;
}

.FirstDisplayDIV-main-container img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width:1440px) {
    .FirstDisplayDIV-main-container{
        height: auto;
    }
}

@media screen and (max-width:775px) {
    .FirstDisplayDIV-main-container{
        height: 50vh;
    }
}

@media screen and (max-width:750px) {
    .FirstDisplayDIV-main-container{
        height: 40vh;
    }
}

@media screen and (max-width:650px) {
    .FirstDisplayDIV-main-container img{
        display: none;
    }

    .FirstDisplayDIV-main-container p{
        display: block;        
    }

    .FirstDisplayDIV-main-container{
        background: #000;
        color: #fff;
        /* color: rgb(61,69,125);
        color: linear-gradient(90deg, rgba(61,69,125,1) 2%, rgba(78,56,113,1) 36%, rgba(171,17,241,1) 100%); */
        text-align: left;
        padding-left: 9vh;
        padding-top: 30%;
        font-size: 45px;
    }
}

@media screen and (max-width:560px){
    .FirstDisplayDIV-main-container{
        padding-left: 7vh;
    }
}

@media screen and (max-width:510px){
    .FirstDisplayDIV-main-container{
        padding-left: 5vh;
    }
}

@media screen and (max-width:400px) {
    .FirstDisplayDIV-main-container p{
        font-size: 35px;
    }
}