* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.FirstDisplayDIV-main-container {
  width: 100%;
  height: 100vh;
  max-width: 100%;
}

.FirstDisplayDIV-main-container p {
  display: none;
  padding-top: 10%;
}

.FirstDisplayDIV-main-container img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 775px) {
  .FirstDisplayDIV-main-container {
    height: 50vh;
  }
}

@media screen and (max-width: 750px) {
  .FirstDisplayDIV-main-container {
    height: 40vh;
  }
}

@media screen and (max-width: 650px) {
  .FirstDisplayDIV-main-container img {
    display: block;
  }

  .FirstDisplayDIV-main-container p {
    display: none;
  }

  .FirstDisplayDIV-main-container {
    background: #000;
    color: #fff;
    text-align: left;
    font-size: 45px;
  }
}

@media screen and (max-width: 400px) {
  .FirstDisplayDIV-main-container p {
    font-size: 35px;
  }
}

@media (min-width: 535px) and (max-width: 650px) {
  .FirstDisplayDIV-main-container {
    height: 50vh;
  }
}
@media (min-width: 650px) and (max-width: 775px) {
  .FirstDisplayDIV-main-container {
    height: 60vh;
  }
}
