.saga{
    background-color: black;
    visibility: visible;
    opacity: 1;
    align-items: center;
    padding:10px;
   
}
.saga-desc{
    color:#9A9A9A;
    border: solid 1px #0060a0;
    padding:10px;
    width:80vw;
    opacity: 1;
    transition: opacity 0.6s ease-in 0s;
    margin:1vh 10vw;
}
.saga-heading{
    color:white;
    text-align: center;
    /* width:fit-content;
    align-self: center; */

}