@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
#redirect_form_container
{
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 
    /* height: 30px; */
    justify-content: space-around;
    
    align-items: center;
}
#redirect_form_text
{
    padding: 10px;
    /* border: 2px solid black; */
    padding-left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}
#redirect_signup
{
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 2px;
   padding-bottom: 2px;
   font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    border-radius: 7px;
    border: none;
    background-color: #f88c11;
}
/* #redirect_form_button
{
    border: 2px solid black;
    
} */

#redirect_signup:hover
{
    cursor: pointer;
}
@media (min-width:0px) and (max-width:394px)
{
    #redirect_form_text
    {
        padding: 10px;
        /* border: 2px solid black; */
        padding-left: 0px;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
    }
    #redirect_signup
{
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 1px;
   padding-bottom: 1px;
   font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    background-color: #f88c11;
}
#redirect_form_button
{
    margin-bottom: 8px;
}
}
@media (min-width:394px) and (max-width:510px)
{
    #redirect_form_text
    {
        padding: 10px;
        /* border: 2px solid black; */
        padding-left: 0px;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
    }
    #redirect_signup
{
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 1px;
   padding-bottom: 1px;
   font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    background-color: #f88c11;
}
/* #redirect_form_button
{
    margin-bottom: 8px;
} */
}
@media (min-width:510px) and (max-width:700px)
{
    #redirect_form_text
    {
        padding: 10px;
        /* border: 2px solid black; */
        padding-left: 0px;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
    }
    #redirect_signup
{
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 2px;
   padding-bottom: 2px;
   font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: #f88c11;
}
}
@media (min-width:700px) and (max-width:873px)
{
    #redirect_form_text
    {
        padding: 10px;
        /* border: 2px solid black; */
        padding-left: 0px;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
    }
    #redirect_signup
{
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 2px;
   padding-bottom: 2px;
   font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: #f88c11;
}
}
@media (min-width:873px) and (max-width:1024px)
{
    #redirect_form_text
    {
        padding: 10px;
        /* border: 2px solid black; */
        padding-left: 0px;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
    }
    #redirect_signup
{
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 2px;
   padding-bottom: 2px;
   font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    border-radius: 5px;
    border: none;
    background-color: #f88c11;
}
}