.LoginPage-header{
    display: flex;
    flex-direction: column;
    float: right;
    align-items: flex-end;
    margin: 10px 10px;
}
.LoginPage-header button{
    visibility: hidden;
    float: right;
    background-color: rgb(204, 200, 200);
    font-size: 15px;
    border: none;
    padding: 5px 30px;
    margin: 10px 0px;
    cursor: pointer;
}
i:hover + button{
    visibility: visible;
}
i:not(:hover) + button{
    visibility: hidden;
    transition: visibility 4s;
}
.LoginPage-container{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   height: 44vh;
   width: 25vw;
   text-align: center;
   border-radius: 5px;
   box-shadow:0px 0px 10px 5px  rgb(204, 200, 200);
}
.LoginPage-loginBody input{
   margin: 25px 0 0 10px;
   background-color: rgb(204, 200, 200);
   border: none;
   font-size: 15px;
   padding: 4px 4px;
}
.LoginPage-loginBody input:focus{
    outline: none;
}
#LoginPage-password{
    margin-left: 13px;
}
.LoginPage-container form button{
    margin: 50px;
    background-color: rgb(250, 103, 50);
    padding: 4px 70px;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
