@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
#LoginPage-container
{
    margin-top: 17.5%;
    height: 300px;
    width: 300px;
    /* border:2px solid black; */
    box-shadow: 0px 0px 15px;
    font-family: 'Montserrat', sans-serif;
    display:flex;
    flex-direction: column;
    /* align-content: center; */
   justify-content: space-evenly;
   
}
#LoginPage-loginBody
{
    
    display: flex;
    /* border: 2px solid black; */
    font-family: 'Montserrat', sans-serif;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#LoginPage-form-title
{
    /* margin-top: 8px; */
    /* border: 2px solid black; */
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    flex-direction: row;
    justify-content: center;
}       
#LoginPage-field
{
    font-family: 'Montserrat', sans-serif;
    /* border: 2px solid black; */
  
}
#login_username
{
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
    margin-top: 10px;
    /* border: 2px solid black; */
    font-size: 20px;
}
#LoginPage-field_userid
{
    font-family: 'Montserrat', sans-serif;
    /* border: 2px solid black; */
    height: 70px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
#login_password
{

    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
    margin-top: 20px;
    border: 2px solid grey;
    /* border: 2px solid black; */
    border: none;
    font-size: 20px;
}
#LoginPage-username
{
    background-color: rgb(208, 230, 238);
    font-family: 'Montserrat', sans-serif;
    /* border: 2px solid black; */
    border-bottom: none;
    margin-left: 10px;
    margin-right: 200px;
}
#LoginPage-password
{
    background-color: rgb(208, 230, 238);
    font-family: 'Montserrat', sans-serif;
    /* border: 2px solid black; */
    margin-top: 5px;
    border-bottom: none;
    margin-left: 10px;
}
#LoginPage-field_password
{
    font-family: 'Montserrat', sans-serif;
    margin-top: 12px;
    /* border: 2px solid black; */
}
#login_submit
{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    /* border: 2px solid black; */
}
#submit_button
{
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    width:220px;
    border: none;
    border-radius: 3px;
    background-color: rgb(245, 63, 8);
}
#submit_button:hover{
    cursor: pointer;
}
@media (min-width:0px) and (max-width:426px)
{
    #LoginPage-container
    {margin-top: 150px;
        height: 300px;
        width: 280px;
        /* border:2px solid black; */
        box-shadow: 0px 0px 15px;
        font-family: 'Montserrat', sans-serif;
        display:flex;
        flex-direction: column;
        /* align-content: center; */
       justify-content: space-evenly;
       
    }
    #LoginPage-username {
        font-family: 'Montserrat', sans-serif;
        /* border: 2px solid black; */
        border-bottom: none;
        margin-left: 10px;
        
        width: 260px;
        margin-right: 200px;
    }
    #LoginPage-password {
        font-family: 'Montserrat', sans-serif;
        /* border: 2px solid black; */
        margin-top: 5px;
        width: 260px;
        border-bottom: none;
        margin-left: 10px;
    }
}