* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

} 
/*
.BrandAmbassador-body {
  background-image: url("../../../Assets/BrandAmbassador/man-woman-handshake-23841014.jpeg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  background-color: #000000;  
  padding-left: 16px;
}
.BrandAmbassador-boxes {
  padding-top: 10vh;
  padding-left: 1vh;
  color: white;
  display: flex;
  flex-direction: column;
  width: 500px;
}
.BrandAmbassador-box1 {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  font-size: 27px;
}
.BrandAmbassador-box11 {
  display: flex;
}
.BrandAmbassador-box112 {
  margin-left: 10px;
}
.BrandAmbassador-box12 {
  font-weight: bold;
  background: -webkit-linear-gradient(right, blue, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
}
.BrandAmbassador-box121 {
  margin-left: 10px;
}
.BrandAmbassador-box122 {
  margin-left: 15px;
}
.BrandAmbassador-box2 {
  font-size: 30px;
  margin-top: 10vh;
}
.BrandAmbassador-box23 {
  font-weight: bold;
}
.BrandAmbassador-box3 {
  padding-left: 1vh;
  border-left: 5px solid transparent;
  border-image: linear-gradient(to bottom, blue, purple);
  border-image-slice: 1;
  margin: 20px;
  font-size: 18px;
  width: 380px;
}
.BrandAmbassador-box4 {
  font-size: 22px;
  font-weight: bold;
  width: 140px;
  padding: 5px;
  cursor: pointer;
  background: linear-gradient(to right, blue, purple),
    linear-gradient(to right, white, white);
  position: relative;
  left: 140px;
  top: -45px;
  color: #fff;
}

@media (min-width:425px) and (max-width:579px)
{
.BrandAmbassador-box4 {
  font-size: 22px;
  font-weight: bold;
  width: 160px;
  height: 50px;
  padding: 5px;
  background: linear-gradient(to right, blue, purple),
    linear-gradient(to right, white, white);
  position: relative;
  left: 140px;
  top: -66px;
}
}

@media (min-width: 628px) and (max-width: 767px) {
  .BrandAmbassador-boxes {
    margin: 60px;
  }
}
@media (width: 768px) {
  .BrandAmbassador-body {
    background-position-x: 18px;
  }
}
@media (min-width: 580px) and (max-width: 628px) {
  .BrandAmbassador-boxes {
    margin: 40px;
  }
}
@media (min-width: 30px) and (max-width: 580px) {
  .BrandAmbassador-boxes {
    margin: 20px;
    margin-left: -102px;
    width: 340px;
  }
  .BrandAmbassador-box22{
    margin-left: 29%;
  }
  .BrandAmbassador-body {
    background-image: url("../../../Assets/BrandAmbassador/man-woman-handshake-23841014.jpeg");
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: center;
  }
  .BrandAmbassador-box1 {
    flex-direction: column;
  }
  .BrandAmbassador-box111
  {
    margin-left: 90px;
  }
  .BrandAmbassador-box122 {
    margin-left: 6px;
    font-size: 20px;
    
}
.BrandAmbassador-box3 {
  padding-left: 63px;
  border-left: 5px solid transparent;
  border-image: linear-gradient(to bottom, blue, purple);
  border-image-slice: 1;
  margin: 20px;
  font-size: 20px;
  width: 380px;
}
.BrandAmbassador-box23 {
  margin-left: 93px;
}
.BrandAmbassador-box121 {
margin-left: 81px;
font-size: 20px;
}
.BrandAmbassador-box21{
margin-left: 94px;
}

.BrandAmbassador-box4 {
font-size: 22px;
font-weight: bold;
width: 140px;
padding: 5px;
background: linear-gradient(to right, blue, purple),
  linear-gradient(to right, white, white);
position: relative;
left: 170px;
top: -80px;
}
} */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.BrandAmbassador-container {
  display: flex;
  /* flex-wrap: wrap; */
  height: 550px;
  width: 75%;
  /* background-color: #efefef; */
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}
.BrandAmbassador-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  

}
.BrandAmbassador-title {
  margin: 40px auto;

  font-family: "Ubuntu", sans-serif;
  font-size: 70px;
  font-weight: bold;
  color: #121212;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: -1px 1px 0 #41ba45, 1px 1px 0 #c63d2b, 1px -1px 0 #42afac,
    -1px -1px 0 #c6c23f;
}

.BrandAmbassador-title1{
  font-family: 'Anton', sans-serif;
  margin: 40px 45px;
  font-size: 19px;
  border-left: 5px solid #f08388 ;
  padding: 10px;
}
.BrandAmbassador-image {
  width: 100%;
  height: 100%;

  /* display: flex; */
}
.BrandAmbassador-button {
  background-color: #f08388;
  font-weight: 700;
  border-radius: 5px;
  
  border: none;
  color: black;
  font-size: 18px;
  padding-left: 10px;
  font-family: 'Montserrat', sans-serif;
  padding-right: 10px;
  /* margin-bottom: 20px; */
  width: 275px;
  height: 55px;
  /* margin-left: 165px; */
  margin: 40px 45px;

}

.BrandAmbassador-button:hover {
  
  cursor: pointer;
  opacity: 0.5;
}


@media (min-width:320px) and (max-width:768px){
  .BrandAmbassador-container {
    display: flex;
    /* flex-wrap: wrap; */
    /* height: 550px; */
    /* width: 75%; */
    /* background-color: #efefef; */
    /* flex-direction: row-reverse; */
    /* justify-content: center; */
    margin-left: auto;
    margin-right: auto;
  }


  .BrandAmbassador-title {
    /* margin: 40px auto; */
    font-family: "Ubuntu", sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: #121212;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: -1px 1px 0 #41ba45, 1px 1px 0 #c63d2b, 1px -1px 0 #42afac,
      -1px -1px 0 #c6c23f;
  }

  .BrandAmbassador-image {
    width: 130%;
    height: 100%;
  
    display: none;
  }

  .BrandAmbassador-button {
    background-color: #f08388;
    font-weight: 700;
    border-radius: 5px;
    
    border: none;
    color: black;
    font-size: 18px;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    padding-right: 10px;
    /* margin-bottom: 20px; */
    width: 275px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
  
  }
  
}