@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.afterLoginCard{
    width: 15rem;
    height: 3rem;
    margin: 50px 70px 0px 70px;

    font-size: 20px;
    font-weight: normal;
    text-align: center;
    line-height: 3rem;
    color: #FFFFFF;
}
.iconimagediv{
    display: flex;
    justify-content: center;
    width: 15rem;
    margin: 50px 70px -50px 70px;

}
.iconimage{
    
    width: 5rem;
    height: 5rem;
    
}
.afterLoginCard:hover{
 cursor: pointer;
}

#yellow{
    background-color: #F4B40F;
}

#orange{
    background-color: #F88215;
}