.afterLoginCard{
    width: 15rem;
    height: 3rem;
    margin: 50px 70px 0px 70px;
    font-family: " Montserrat";
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    line-height: 3rem;
    color: #FFFFFF;
}

#yellow{
    background-color: #F4B40F;
}

#orange{
    background-color: #F88215;
}