@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.allCards{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    justify-content:left;
    align-items: center;
}

.LoginPage-header{
    display: flex;
    justify-content: space-between;
    padding: 25px 20px;
}

#action-signout
{
    
        cursor: pointer;     
        width: 121.06px;
        height: 49px;
        float: right;
        background: #F4970A;
        border-radius: 10px;
    
}

#signout:hover
{
    cursor: pointer;
}

#AfterLogin-backBtn{
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 25px;
    width:150px;
    display: none;
}