
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
* {  
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* height: max-content; */
}
.counter-heading{
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  padding-top:15px;
  margin-top: 30px;
  padding-bottom:15px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(39, 38, 38);
  color:white;
  font-weight: bold;
  width:400px;
  text-align: center;
}
.counter-body{
  padding-top:30px;
  padding-bottom: 30px;
}

.counter-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 254, 254);
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
}

.counter-counter {
  text-align: center;
  width: 250px;
  height: 250px;
  justify-content: center;
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: rgb(180, 5, 5);
  margin-bottom: 25px;
}

.counter-counter h3 {
  padding: 0.5rem 0;
  font-size: 2.5rem;
  font-weight: 800;
  color:white;
}

.counter-counter h6 {
  font-size: 20px;
  padding-bottom: 1rem;
  color: white;
}

.counter-icon {
  width: 40px;
  height: 40px;
  align-self: center;
}



@media screen and (max-width: 500px) {
 
  .counter-heading{
      font-size: 22px;
      font-family: "Montserrat", sans-serif;
      padding-top:15px;
      padding-bottom:15px;
      margin-left: auto;
      margin-right: auto;
      background-color: rgb(39, 38, 38);
      color:white;
      font-weight: bold;
      width:250px;
  }
}
@media (min-width: 150px) and (max-width: 425px) {
 
  .counter-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }
}





