
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
* {  
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* height: max-content; */
}
.counter-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
 
}

.counter-counter {
  text-align: center;
  
  width: 250px;
  height: 250px;
  justify-content: center;
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
  margin-bottom: 25px;
}

.counter-counter h3 {
  padding: 0.5rem 0;
  font-size: 2.5rem;
  font-weight: 800;
  color:white;
}

.counter-counter h6 {
  font-size: 20px;
  padding-bottom: 1rem;
  color: white;
}

.counter-icon {
  width: 40px;
  height: 40px;
  align-self: center;
}



@media (min-width: 150px) and (max-width: 425px) {
 
  .counter-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }
}





