
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
* {  
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
.counter-body{
  padding-top:30px;
  padding-bottom: 30px;
}

.counter-container {
  background: #1a1e23;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  flex-wrap: wrap;
}

.counter-counter {
  text-align: center;
  width: 250px;
  height: 250px;
  justify-content: center;
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: #5851EA;
  margin: 25px 0;
  z-index: 2;
}
.counter-counter h3 {
  padding: 0.5rem 0;
  font-size: 2.5rem;
  font-weight: 800;
  color:white;
}

.counter-counter h6 {
  font-size: 20px;
  padding-bottom: 1rem;
  color: white;
}
.counter-counter .fas{
  color:white;
  font-size: 40px;
}
@media (min-width: 150px) and (max-width: 425px) {
 
  .counter-container{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
/* .bubbles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  overflow:hidden;
} */
.counter-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  overflow:hidden;
}

.stars {
  background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}
.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  -moz-animation: move-background 70s linear infinite;
  -ms-animation: move-background 70s linear infinite;
  -o-animation: move-background 70s linear infinite;
  -webkit-animation: move-background 70s linear infinite;
  animation: move-background 70s linear infinite;
}
@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-moz-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}