#AmbassadorBenefits-mainBoxBenefit{
    background-color:#2E37DF ;
}
.AmbassadorBenefits-benefitsTitle{
    font-family:" Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 33px;
    color: #FFFFFF;
    display: flex;
    justify-content:left;
    padding-left: 7.5rem;
    padding-top: 1rem;
}
.AmbassadorBenefits-ambassadorBenefits{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:left ;
    background-color:#2E37DF;
    padding-left: 4.7rem;
    margin-top: 1rem;
    overflow: hidden;
}

@media (min-width: 0px) and (max-width: 919px){
    .AmbassadorBenefits-benefitsTitle{
        padding-left: 4rem;
    }
    .AmbassadorBenefits-ambassadorBenefits{
        justify-content: space-evenly;
        padding-left: 1rem;
    }
}