.benefitsBody{
    background-color:#2E37DF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 280px;
    /* margin:20px 20px 20px 20px; */
    padding:15px 35px 0px 35px;
    width: 350px;
    font-family:" Montserrat";
}
.upperPart{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.number{
    color: #00E0FF;
    font-family: " Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
}
.benefitHeading{
    color: #00FF85;
    margin-top: 0px;
    width: fit-content;
    padding-left: 1rem;
    font-family:" Montserrat";
    font-style: normal;
    font-weight: 900;
    font-size: 1.9rem;
    line-height: 32px;
}
.benefitContent{
    color: #FFFFFF;
    font-family: " Montserrat";
    font-style: normal;
    font-weight: 200;
    font-size: 17px;
    line-height: 21px;
    margin-left: 40px;
    margin-top: 0.2rem;
}

@media (min-width: 0px) and (max-width: 229px){
    .benefitsBody{
       width: fit-content;
       height: fit-content;
    }
    
}