.mainBoxBenefit{
    background-color:#2E37DF ;
}
.benefitsTitle{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 33px;
    color: #FFFFFF;
    display: flex;
    justify-content:left;
    padding-left: 10rem;
    padding-top: 1rem;
}
.ambassadorBenefits{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left ;
    background-color:#2E37DF;
    padding-left: 7.5rem;
}

@media (min-width: 0px) and (max-width: 793px){
    .benefitsTitle{
       padding-left: 0%;
       text-align: center;
       justify-content: center;
    }
    .ambassadorBenefits{
        padding-left: 0%;
        justify-content: space-evenly;
    }
}